@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,400;0,700;1,400&display=swap');

$body-font: 'Pathway Extreme', sans-serif;
$background-color: hsl(0, 0%, 27%);
$body-font-main-color: hsl(0, 0%, 78%);


* {
    margin: 0 auto;
    font-family: $body-font;
}

html {
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: $background-color;
    width: 100vw;
    height: 100vh;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;

}

@import "./nav";

// Paralax effect for the background image
// .section1 {
//     width:100%;
//     min-height: 100vh;
//     position: relative;
//     transform-style: preserve-3d;
//   }

// .section1::before {
//     content: "";
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     z-index: -1;
//     background: url(../images/fearbg.jpg) top center;
//     background-size: cover;
//     filter: blur(2px);
//     transform: translateZ(-1px) scale(2.2);
// }
// .section1::after {
//     content: "";
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     background: url(../images/fear-zetel.png) top center;
//     background-size: cover;
    
// }

// .section1 .text {
//     top: 10%;
//     transform: translateZ(-0.5px) scale(1.5,1.6) translate(-33%, 10%);
// }


  .text {
    top:30%;
    left:50%;
    position: absolute;
    color:white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3),
    5px 5px 70px rgba(255,255,255,0.5);
    transform: scale(1,1.1) translate(-50%, 10%);
    h1 {
        font-size: 4rem;
        color: $body-font-main-color;
        padding-top: 2rem;
    }
  }


//////////////////////////////////////////
.title h1 {
    font-size: 5rem;
    color: $body-font-main-color;
    position: relative;
    z-index: 2;
    padding-bottom: 1.5rem;
}

h1 {
       font-size: 3.5rem;
       color: $body-font-main-color;
       padding-top: 8rem;
       text-align: center;
    }

h2 {
    font-size: 2.5rem;
    color: $body-font-main-color;
    text-align: center;
}

h3 {
    text-align: center;
}

section {
    height: 100vh;
    scroll-behavior: smooth;

    .image {
        height: 10rem;
        width: 10rem;
        background-size: contain;
    }

    .imgone {
        background-image: url(../images/caea5caaecaa5c80c56292353be48abf79e98708_68645_packshot_open.webp);
    }

    .imgtwo {
        background-image: url(../images/b644232f670a5f54bbfb992f81589ff9.png);
    }

    .imgthree {
        background-image: url(../images/fear.jpg);
    }
}

p {
    font-size: 1.5rem;
    color: $body-font-main-color;
    padding-right: 20rem;
    padding-left: 20rem;
    padding-top: 6rem;
    text-align: left;
}

.square {
    width: 150px;
    height: 150px;
    background-color: hsl(0, 0%, 78%);
    position: relative;
    border-radius: 50%;
}