@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,400;0,700;1,400&display=swap');

$body-font: 'Pathway Extreme', sans-serif;
$background-color: hsl(0, 0%, 27%);
$body-font-main-color: hsl(0, 0%, 62%);


* {
    text-align: center;
    margin: 0 auto;
    background-color: $background-color;
    font-family: $body-font;
}

nav {
    font-family: $body-font;
    font-size: 3rem;
    text-align: center;
  a {
    color: rgb(37, 37, 37);
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    &:hover {
        font-variation-settings: 
        "wght" 800, 
        "wdth" 600;
    transition: 5s;
    }
  } 
}

           


h1 {
       font-size: 3rem;
       color: $body-font-main-color;
}


main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    section {
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
        scroll-behavior: smooth;
    }
}

main {
    perspective: 2px;
    section {
        transform-style: preserve-3d;
        &::after {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateZ(-1px) scale(1.5);
            background-size: 100%;
            z-index: -1;
            background: url(../images/Happy-Guy.jpg) no-repeat center center;
            background-size: cover;
        }
        &.no-parallax {
            background-color: var(--background);
            z-index: 999;
        }
    }
}

img {
    mask-image: url(../images/Happy-Guy.jpg);
    mask-type: alpha;
    mask-repeat: repeat-y;
    mask-size: 300% 100%;
    mask-position: left;
    -webkit-mask-image: url(../images/Happy-Guy.jpg);
    -webkit-mask-type: alpha;
    -webkit-mask-repeat: repeat-y;
    -webkit-mask-size: 300% 100%;
    -webkit-mask-position: left;                    
}