@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
* { box-sizing: border-box;}


body { 
    line-height: 1.5rem; 
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/Week04/Oefening-3/assets/background.psd);
}
h1, h2, h3 { 
    font-family: 'Odibee Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.content {
    display: grid;
    max-width: 1200px;
    margin: 50px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 250px);
    grid-template-areas:
        "screenshot screenshot title title"
        "screenshot screenshot photo1 photo1"
        "new new new photo2"
        "footer footer footer footer";
}