@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Karla:wght@400;700&family=Montserrat&display=swap');


* { box-sizing: border-box;}

body { 
    background: #111; 
    background-attachment: fixed;
    color: #fff; 
    padding: 0; margin: 0; 
    line-height: 1.5em; 
/*Background animation*/
    z-index: 1;
    background: linear-gradient(-45deg, hsl(281, 100%, 50%), hsl(219, 92%, 57%), hsl(199, 63%, 37%), hsl(271, 84%, 34%));
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    animation: animate 15s ease infinite;
}

.content {
    display: grid;
    max-width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px 70px;
    grid-template-areas: 
    "spinner spinner title title title title"
    "spinner spinner text text text text"
    "card1 card1 card2 card2 card3 card3"
    "card1 card1 card2 card2 card3 card3"
    "footer footer footer footer footer footer";
}

h1 {
    font-size: 5rem;
    font-family: 'Fira Sans', sans-serif; 
    text-transform: uppercase; 
    line-height: 1em; 
    margin: 0;
    text-shadow: rgba(0, 0, 0, 0.375) 1px 0 10px;
}

.reflect {
  position: relative;
  -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
}

h2 {
    font-size: 2.5rem; 
    font-family: 'Fira Sans', sans-serif; 
    line-height: 1em;
    margin: 0;
}

h3 { 
    font-size: 2rem; 
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    text-shadow: rgba(0, 0, 0, 0.375) 1px 0 10px;
}
p {
    font-family: 'Karla', sans-serif; 
    font-size: 1.5rem;
    line-height: 28px;
}

/* Big fidget spinner animation*/
.spinner {
    grid-area: spinner;
    background: url(../assets/Yellow_Fidget_Spinner.png) no-repeat;
    padding: 1rem;
    margin-left: 2rem;
    background-size: 80%;
    color:#101931; 
}

.spinner:hover {
    display: inline-block;
    animation: spinner 5s infinite alternate ease-in-out;}

.title {
    grid-area: title;
    padding-top: 5rem;
    color: hsl(50, 100%, 50%);
}

.text {
    grid-area: text;
    padding-right: 20rem;
}

/*Cards*/
.card1 {
    grid-area: card1;
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.card1:hover {
    cursor: pointer;
}

.card1:hover .intro {
    height: 275px;
    bottom: -75px;
    background: grey;
}

.card1:hover p {
    opacity: 1;
    visibility: visible;
}

.card1:hover img {
    transform: scale(1.1) rotate(-3deg);
}

.card2 {
    grid-area: card2;
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.card2:hover {
    cursor: pointer;
}

.card2:hover .intro {
    height: 275px;
    bottom: -75px;
    background: grey;
}

.card2:hover p {
    opacity: 1;
    visibility: visible;
}

.card2:hover img {
    transform: scale(1.1) rotate(-3deg);
}

.card3 {
    grid-area: card3;
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.card3:hover {
    cursor: pointer;
}

.card3:hover .intro {
    height: 275px;
    bottom: -75px;
    background: grey;
}

.card3:hover p {
    opacity: 1;
    visibility: visible;
}

.card3:hover img {
    transform: scale(1.1) rotate(-3deg);
}

.intro {
    height: 80px;
    width: 535px;
    bottom: -75px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background-color: rgb(27, 27, 27, 0.5);
    transition: .1s;
}

.intro h3 {
    margin: 10px;
    font-size: 40px;
}

.intro p {
    margin: 20px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
}

.card__image img {
    height: 500px;
    width: 570px;
    border-radius: 3px;
}

.footer {
    grid-area: footer;
    text-align: center;
    margin-top: 3rem;
}

.footer p {
    font-size: 20px;
}

/* Spinner animation */
@keyframes spinner {
    100% {
      transform: rotate(3600deg);
    }
  }

/* Background animation */
@keyframes animate {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




