body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    background-clip: text;
    -webkit-background-clip: text;
}

.circle {
    width: 35vh;
    height: 40vh;
    background-color: hsl(200, 50%, 50%);
    border-radius: 50%;
    animation-name: zoom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@keyframes zoom {
    0% {
        transform: scale(1);
        top: 0;
        left: 0;
    }
    50% {
        transform: scale(1.5);
        top: 90vh;
        left: 45vh;
        filter: blur(20px);
    }
    100% {
        transform: scale(1);
        top: 0vh;
        left: 90vh;
    }
}

.square {
    width: 30vh;
    height: 30vh;
    background-color: greenyellow;
    transition: transform 300ms ease-in-out;
}

.square:hover {
    transform: perspective(1000px) rotateY(50deg) skew(10deg, 10deg);
}